[Unit]
Description=gunnchOS service package gunnchos.recovery.secure_wipe
Realm=RECOVERY_IMAGE

[Service]
Type=notify
ExecStart=/opt/gunnchos/bin/gunnchos-svc --package gunnchos.recovery.secure_wipe
Restart=on-failure
