[Unit]
Description=gunnchOS service package gunnchos.recovery.factory_reset
Realm=RECOVERY_IMAGE

[Service]
Type=notify
ExecStart=/opt/gunnchos/bin/gunnchos-svc --package gunnchos.recovery.factory_reset
Restart=on-failure
