[Unit]
Description=gunnchOS service package gunnchos.factory.serial_issuer
Realm=FACTORY_PROVISIONING_IMAGE

[Service]
Type=notify
ExecStart=/opt/gunnchos/bin/gunnchos-svc --package gunnchos.factory.serial_issuer
Restart=on-failure
