[Unit]
Description=gunnchOS service package gunnchos.factory.mac_allocator
Realm=FACTORY_PROVISIONING_IMAGE

[Service]
Type=notify
ExecStart=/opt/gunnchos/bin/gunnchos-svc --package gunnchos.factory.mac_allocator
Restart=on-failure
