[Unit]
Description=gunnchOS service package gunnchos.factory.key_injection_interface
Realm=FACTORY_PROVISIONING_IMAGE

[Service]
Type=notify
ExecStart=/opt/gunnchos/bin/gunnchos-svc --package gunnchos.factory.key_injection_interface
Restart=on-failure
