[Unit]
Description=gunnchOS service package gunnchos.dev.python_toolchain
Realm=DEVICE_LAB_INTERACTIVE_DEVELOPMENT_GUEST

[Service]
Type=notify
ExecStart=/opt/gunnchos/bin/gunnchos-svc --package gunnchos.dev.python_toolchain
Restart=on-failure
