[Unit]
Description=gunnchOS service package gunnchos.core.permissions
Realm=DEVICE_LAB_INTERACTIVE_DEVELOPMENT_GUEST

[Service]
Type=notify
ExecStart=/opt/gunnchos/bin/gunnchos-svc --package gunnchos.core.permissions
Restart=on-failure
