[Unit]
Description=gunnchOS service package gunnchos.dev.ssh_shell
Realm=DEVICE_LAB_INTERACTIVE_DEVELOPMENT_GUEST

[Service]
Type=notify
ExecStart=/opt/gunnchos/bin/gunnchos-svc --package gunnchos.dev.ssh_shell
Restart=on-failure
