[Unit]
Description=gunnchOS service package gunnchos.dev.updater_debug
Realm=DEVICE_LAB_INTERACTIVE_DEVELOPMENT_GUEST

[Service]
Type=notify
ExecStart=/opt/gunnchos/bin/gunnchos-svc --package gunnchos.dev.updater_debug
Restart=on-failure
