[Unit]
Description=gunnchOS service package gunnchos.evt.hardware_validation_suite
Realm=EVT_ENGINEERING_IMAGE

[Service]
Type=notify
ExecStart=/opt/gunnchos/bin/gunnchos-svc --package gunnchos.evt.hardware_validation_suite
Restart=on-failure
