[Unit]
Description=gunnchOS service package gunnchos.dev.ssh_shell
Realm=EVT_ENGINEERING_IMAGE

[Service]
Type=notify
ExecStart=/opt/gunnchos/bin/gunnchos-svc --package gunnchos.dev.ssh_shell
Restart=on-failure
