[Unit]
Description=gunnchOS service package gunnchos.core.profile_manager
Realm=EVT_ENGINEERING_IMAGE

[Service]
Type=notify
ExecStart=/opt/gunnchos/bin/gunnchos-svc --package gunnchos.core.profile_manager
Restart=on-failure
