[Unit]
Description=gunnchOS service package gunnchos.core.input
Realm=EVT_ENGINEERING_IMAGE

[Service]
Type=notify
ExecStart=/opt/gunnchos/bin/gunnchos-svc --package gunnchos.core.input
Restart=on-failure
