[Unit]
Description=gunnchOS service package gunnchos.dev.gunnchctl
Realm=EVT_ENGINEERING_IMAGE

[Service]
Type=notify
ExecStart=/opt/gunnchos/bin/gunnchos-svc --package gunnchos.dev.gunnchctl
Restart=on-failure
