[Unit]
Description=gunnchOS service package gunnchos.evt.telemetry_debug_agent
Realm=EVT_ENGINEERING_IMAGE

[Service]
Type=notify
ExecStart=/opt/gunnchos/bin/gunnchos-svc --package gunnchos.evt.telemetry_debug_agent
Restart=on-failure
