[Unit]
Description=gunnchOS service package gunnchos.core.connectivity
Realm=EVT_ENGINEERING_IMAGE

[Service]
Type=notify
ExecStart=/opt/gunnchos/bin/gunnchos-svc --package gunnchos.core.connectivity
Restart=on-failure
