[Unit]
Description=gunnchOS service package gunnchos.core.dock
Realm=EVT_ENGINEERING_IMAGE

[Service]
Type=notify
ExecStart=/opt/gunnchos/bin/gunnchos-svc --package gunnchos.core.dock
Restart=on-failure
